/* blog hero start */
.Blog-hero-articles {
  margin-top: 30px;
  margin: 10px 80px;
}
.Blog-hero-articles .Blog-hero-article {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.Blog-hero-articles .Blog-hero-article .Blog-hero-left img {
  height: 300px;
  width: 500px;
}
.Blog-hero-articles .Blog-hero-article .Blog-hero-right {
  margin-left: 40px;
  max-width: 50%;
}
.Blog-hero-articles .Blog-hero-article .Blog-hero-right p .Blog-hero-date {
  color: #7f7e7e;
}
.Blog-hero-articles
  .Blog-hero-article
  .Blog-hero-right
  p.Blog-hero-description {
  color: #ffffff;
}
@media screen and (max-width: 640px) {
  .Blog-hero-articles .Blog-hero-article .Blog-hero-left img {
    height: 100%;
    width: 100%;
  }
  .Blog-hero-articles .Blog-hero-article .Blog-hero-right {
    margin: 0px;
    max-width: 100%;
  }
}

/* blog hero end */

/* blog detail article start */
#BlogArticle-main blockquote {
  border-left: 5px solid;
  margin: 2rem 0;
  padding: 1em 40px;
  font-size: 1.2em;
}
#BlogArticle-main blockquote:before {
  content: "\00201C";
  margin-right: 0.2em;
}
#BlogArticle-main blockquote:after {
  content: "\00201D";
  margin-left: 0.2em;
}
#BlogArticle-main blockquote:before,
#BlogArticle-main blockquote:after {
  font-size: 1.5em;
  vertical-align: sub;
  font-weight: 900;
}
#BlogArticle-main {
  line-height: 2em;
  padding: 0 2rem;
  font-size: 1.3em;
  letter-spacing: 1px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 9rem;
}
#BlogArticle-main h1 {
  margin-top: 6rem;
}
#BlogArticle-main p {
  margin-top: 1rem;
}
#BlogArticle-main h2:before {
  content: "";
  display: block;
  width: 10%;
  border-top: 0.15em solid #333;
  padding-top: 1em;
  margin-top: 4rem;
}
/* blog detail article end */

/* blog card 2 start */
.CardBlogs-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  padding-left: calc(1.5rem * 0.5);
  padding-right: calc(1.5rem * 0.5);
}
.CardBlogs-card {
  background-color: color-mix(in oklab, hsl(0, 0%, 7%), hsl(0, 0%, 100%) 20%);
  width: 100%;
  min-width: 18rem;
  height: auto;
  padding: 1rem;
  margin: 2rem 2rem;
  border-radius: 25px;
  max-width: 360px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
.CardBlogs-card > .CardBlogs-card-img {
  width: 100%;
  border-radius: 12.5px;
  max-height: 15.625rem;
  object-fit: cover;
}
.CardBlogs-card > .CardBlogs-card-body {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.CardBlogs-card-body > h2 {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  line-height: 1.2;
  font-size: 23px;
  letter-spacing: 0.35px;
  word-wrap: break-word;
  margin: 1rem 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.CardBlogs-card-body p {
  color: hsl(207, 8%, 77%);
  line-height: 1.75;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}
.CardBlogs-card-body h4 {
  color: hsl(203, 82%, 71%);
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 800;
}
.CardBlogs-btn {
  width: 100%;
  height: 2.5rem;
  padding: 4px;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.25px;
  background-color: hsl(203, 82%, 71%);
  color: hsl(0, 0%, 0%);
  border-radius: 25px;
  border-style: none;
  cursor: pointer;
}
/* blog card 2 end */
