/* qr code  */
.qrcode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

#qrcode {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  #qrcode {
    max-width: 600px; /* Set the desired width for desktop */
  }
}

/* qr code  */

/* feature hero  */
.parall-container {
  text-align: center;
  color: #0080ff;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  /*  this is where the magic happens:  */
  background-attachment: fixed;
}

.parall-container h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #000000;
}

.parall-container p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
  font-size: 1.4rem;
  width: 70%;
  color: #ffffff;
}

.parall-container a {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: #ff0000;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 0.875rem;
}

/* feature hero  */
