/* #height-100vh {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
/* .my-container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1000px;
} */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.center-title {
  display: flex;
  margin: 3rem 0;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* loading  */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader {
  width: 80px;
  height: 50px;
  position: relative;
}
.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #c8b6ff;
  animation: text_713 3.5s ease both infinite;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.load {
  background-color: #9a79ff;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}
.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #d1c2ff;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }
  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }
  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }
  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }
  40% {
    width: 100%;
    transform: translateX(0px);
  }
  80% {
    width: 16px;
    transform: translateX(64px);
  }
  90% {
    width: 100%;
    transform: translateX(0px);
  }
  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }
  40% {
    transform: translateX(0%);
    width: 80%;
  }
  80% {
    width: 100%;
    transform: translateX(0px);
  }
  90% {
    width: 80%;
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
/* loading  */

/* footer */
#footer-tag {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
}
.row1 {
  padding: 1em 1em;
}
.row1.Footer-primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1.2em;
  margin-top: 2rem;
  min-height: 10em;
  height: auto;
}
.links h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
}
.links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 1rem;
}
.links ul li {
  margin-top: 0.8em;
}
.links ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
.links ul li a:hover {
  color: #2a8ded;
}
.Footer-about p {
  text-align: justify;
  line-height: 2;
  margin-top: 1rem;
}
.footer-input-email,
.subscribe button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  color: rgb(2, 2, 2);
  font-weight: 600;
}
.subscribe button {
  background-color: #c7940a;
  color: #ffffff;
}
.copyright {
  background-color: #25262e;
}
.footer-menu {
  float: left;
}
.footer-menu a {
  color: #cfd2d6;
  padding: 10px;
  text-decoration: none;
}
.footer-menu a:hover {
  color: #27bcda;
}
.copyright p {
  font-size: 1em;
  text-align: right;
}
@media screen and (max-width: 850px) {
  .row1.Footer-primary {
    grid-template-columns: 1fr;
  }
}
/* footer */

/* go to top btn  */
#gototop {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 999;
}
.gototop-btn {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 800;
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 1000px;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
}
.gototop-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, 0.5);
}
.gototop-btn:active {
  transform: translateY(-3px);
}
.gototop-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
.gototop-btn:hover::after {
  background-color: rgb(0, 238, 255);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}
/* go to top btn  */

/* blog wrapper slider  */
.blog-slider-title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  font-family: system-ui;
  line-height: 1.1;
  color: #fff;
  margin: 4rem auto 1rem;
  width: 85%;
  max-width: 1280px;
}
.blog-slider {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}
.blog-slider__content {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 1rem;
  height: auto;
  padding-bottom: 1rem;
  scrollbar-color: #fff #141e27;
}
.blog-slider__content::-webkit-scrollbar {
  height: 0.8rem;
  width: 0.5rem;
  border-radius: 1rem;
  background: #141e27;
}
.blog-slider__content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #fff;
}
.blog-slider__content::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: #141e27;
}

/* blog wrapper slider  */

/* comment design */
.comment-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.comment-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #121315;
}

.comment-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.comment-group {
  position: relative;
}

.comment-form .comment-group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.comment-form .comment-group input,
.comment-form .comment-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.comment-form .comment-group input:placeholder-shown + label,
.comment-form .comment-group textarea:placeholder-shown + label {
  top: 10px;
  background-color: transparent;
}

.comment-form .comment-group input:focus,
.comment-form .comment-group textarea:focus {
  border-color: #3366cc;
}

.comment-form .comment-group input:focus + label,
.comment-form .comment-group textarea:focus + label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: #3366cc;
  font-weight: 600;
  font-size: 14px;
}

.comment-form .comment-group textarea {
  resize: none;
  height: 100px;
}

.comment-form button {
  background-color: #3366cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.comment-form button:hover {
  background-color: #27408b;
}

/* comment design */
